node_modules/
dist/
.DS_Store
*.log
frontend/.env
frontend/.env.local
frontend/dist/
frontend/node_modules/

target/
*.class
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar
backend/target/
backend/.idea/
backend/.vscode/
backend/logs/
backend/data/

*.swp
*.swo
*~
